<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tadamon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tadamon">
        <activity android:name=".CrisisActivity"></activity>
        <activity android:name=".VolunteerScreenActivity" />
        <activity android:name=".DonationScreenActivity" />
        <activity android:name=".AccountCreationStep4Activity" />
        <activity android:name=".AccountCreationStep3Activity" />
        <activity android:name=".AccountCreationStep2Activity" />
        <activity android:name=".AccountCreationStep1Activity" />
        <activity android:name=".ProfileScreenActivity" />
        <activity android:name=".SearchScreenActivity" />
        <activity android:name=".HomeScreenActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".LoginWithEmailAndPassActivity" />
        <activity android:name=".SignupWithEmailAndPassActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>